html {
  font-family: 'Ropa Sans', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #333333;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-size: 22px;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
}

a:hover {
  color: #390fff;
  background-color: #fff;
}

section {
  margin: 10px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
}

